name: keyson
on:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          submodules: 'recursive'

      - name: Setup Haxe
        uses: krdlab/setup-haxe@v1.1.5
        with:
          haxe-version: 4.3.3
      
      - run: haxelib install hxcpp 4.3.3 
      - run: haxelib install utest 1.13.2
      
      - name: Test with the hxcpp target
        run: haxe Test.hxml
